.personal_wrapper {
    display: flex;
}

.ava_img {
    display: inline-flex;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
}

.description {
    display: flex;
    flex-direction: column;
}
