.wrapper {
    margin-bottom: 10px;
}
.page:hover {
    cursor: pointer;
}
.selectedPage {
    font-weight: bold;
}
.btnPrev {
    width: 50px;
    margin-right: 10px;
}
.btnNext {
    width: 50px;
    margin-left: 10px;
}