.bg_img {
    height: 250px;
    background-image: url("https://c.wallhere.com/photos/06/b3/2560x1440_px_Japan_samurai_Total_War_Shogun_2_video_games-681777.jpg!d");
    background-position: center;
    background-size: cover;
}