.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    background-color: white;
}
.header a, img {
    height: 60px;
}
.loginBlock {
    margin-right: 15px;
}
.loginBlock a {
    color: black;
}