.nav {
    grid-area: n;
    background-color: lightgray;
}
.item {
    margin-bottom: 15px;
}
.item a {
    color: black;
    text-decoration: none;
    
}
.item .active {
    color: white;
    font-size: 24px;
}